@import "common.scss";

.demo-transition .transition-box {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: #409eff;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.demo-block .demo-loading {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 5px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #cecece;
}
.demo-badge.demo-block .item {
  margin-right: 40px;
}

.demo-input.demo-block .input-item {
  width: 300px;
  margin-right: 20px;
}
.demo-rate .block {
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid #eff2f6;
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}
.demo-rate .block:last-child {
  border-right: none;
}

.demo-rate .demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}

.global-anchor {
  position: fixed;
  top: 100px;
  right: 0;
  max-height: calc(100vh - 120px);
  padding: 5px;
  width: 158px;
  background: #ffffff;
  z-index: 5;
  overflow-y: auto;
}
